.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  padding: 0;
  list-style: none;
  justify-items: center;
}

.item {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.03);
}

.poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
